page-edit-profile {
	button.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		width: 100%;
		height: 35px;
	}
	button.join_match.disable-hover.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		height: 29px;
		font-size: 12px;
		border-radius: 50px;
		width: 90%;
		text-align: center;
	}
	ion-item.middle_card_section.item.item-block.item-md {
		padding: 0;
	}
	button.join_match.disable-hover.button.button-ios.button-outline.button-outline-ios.button-large.button-large-ios.button-outline-ios-danger {
		width: 100%;
		border-radius: 50px;
		height: 35PX;
	}
}
