page-payment {
	.header-logo {
		width: 40px;
		border: 1px solid;
		border-radius: 50%;
		color: #00000082;
		padding: 3px;
	}
	button.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		width: 100%;
		height: 35px;
	}  
}
