page-cards {
	.middle_card_section .label-md {
		margin: 0;
	}
	.searchbar-md .searchbar-input {
		background-color: #f4f4f4;
		box-shadow: none;
		border: 1px solid #00000024;
		border-radius: 50px;
	}
	button.disable-hover.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		width: 100%;
		padding: 0;
		height: 37px;
	}
	button.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		width: 100%;
		height: 35px;
	}
	button.join_match.disable-hover.button.button-md.button-outline.button-outline-md.button-large.button-large-md.button-outline-md-danger {
		height: 29px;
		font-size: 14px;
		border-radius: 50px;
	}
	ion-item.middle_card_section.item.item-block.item-md {
		padding: 0;
	}
	button.join_match.disable-hover.button.button-ios.button-outline.button-outline-ios.button-large.button-large-ios.button-outline-ios-danger {
		width: 100%;
		border-radius: 50px;
		height: 35PX;
	}
}
